p{
    font-size: 14px;
}

h5{
    font-size: medium;
}

h3 {
    font-size: larger;
}

h1 {
    font-size: x-large;
}

p, h1, h2, h3, h4, h5, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
